:root {
    box-sizing: border-box;
  }
  *,
  :before,
  :after {
    box-sizing: inherit;
  }
  body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: #293241;
  }
  /* header */
  
  .header-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #3c6e71;
    margin: 180px 10px 20px;
    position: relative;
    height: 200px;
  }
  h1 {
    color: #fcbf49;
    font-family: "Oooh Baby", cursive;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    font-size: 50px;
  }
  .header-card #img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: -150px;
    border: 10px solid #293241;
  }
  /* main */
  
  main {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
  }
  main .main-card {
    background-color: #fcbf49;
    color: #3d3c3d;
    padding: 10px;
    margin: 10px;
    width: 50%;
  }
  
  main .card-row {
    display: flex;
  }
  main h2 {
    text-align: center;
    font-weight: 700;
    text-decoration: underline;
  }
  
  /* footer */
  
  footer .contact {
    text-align: center;
    font-size: 20px;
    font-family: "Imperial Script", cursive;
    padding: 10px;
    background-color: #3c6e71;
    margin: 10px;
    text-transform: uppercase;
    color: #fcbf49;
  }
  footer .icon .fab {
    font-size: 30px;
    padding: 10px;
    color: #fcbf49;
  }
  footer .fab:hover {
    color: #c70c38;
  }
  @media only screen and (max-width: 600px) {
    main .card-row {
      flex-direction: column;
    }
    main .main-card {
      width: 95%;
      margin: 10px;
    }
  }
  